$colors: (
    bg-1: linear-gradient(#d9be00, #ffd342),
    bg-2: linear-gradient(#ffa71f, #ff6b2d),
    bg-3:linear-gradient(#f15779, #ed2b5f),
    bg-4: linear-gradient(#f459a7, #d6419d),
    bg-5: linear-gradient(#705fc7, #5644b0),
    bg-6: linear-gradient(#128ccd, #0a79c0),
    bg-7: linear-gradient(#53c6f3, #1fafe4),
    bg-8: linear-gradient(#7cf2a7, #4ac0d0),
    bg-9: linear-gradient(#7cc140, #33ae46),
    bg-10: linear-gradient(#c2e026, #85c83a)
);

